/* nav {
    display :inline-flex;
    flex-direction : column;
    font-size : 1.4rem;
    background-color : blue;
    gap : 2.5rem;
    padding-left : 2rem;
}
nav a {
    text-decoration : none;
    color :#000;
    
} */
nav {
    display : flex;
    flex-direction : column;
    font-size : 1.8rem;
    padding-left : 2rem;
    gap : 3rem;
    /* justify-content : space-around; */
    flex-grow : 1;
    padding-top:.5rem;
  
    
}
nav a {
    color :#000;
    text-decoration : none;
}
